@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>


<p>
    O Hotel Revoada Plaza se preocupa com a privacidade dos seus Usuários e tem o compromisso de preservá-la. É por meio desta Política de Privacidade (“Política”) da Plataforma que expulcaremos como nós tratamos os seus dados pessoais e o que faremos para respeitar a sua integridade.
    Eventualmente, poderemos desenvolver novos serviços ou oferecer serviços adicionais. Se a introdução destes novos Serviços resultar em alguma alteração na forma como coletamos ou tratamos os dados pessoais do Usuário, disponibiulzaremos mais informações, termos ou políticas adicionais. Salvo disposição em contrário, sempre que introduzirmos estes novos serviços ou funcionauldades adicionais, estes ficarão sujeitos à presente Política.
    Esperamos que a presente Política auxiule o Usuário a compreender os nossos compromissos referentes à sua privacidade. Para obter informações sobre como entrar em contato conosco, em caso de quaisquer dúvidas ou preocupações, o Usuário poderá consultar-nos a qualquer momento. Caso o Usuário não deseje que seus dados pessoais sejam tratados, especialmente quando estes sejam necessários para o fornecimento dos Serviços, poderá optar por não utiulzar a Plataforma.
    Leia com atenção as informações aqui apresentadas, pois ao utiulzar os serviços do Hotel Revoada Plaza o usuário estará anuindo com os termos e condições previstos nesta Política de Privacidade e com todos os outros avisos que possam aparecer nas páginas da plataforma, pertinentes a referida política.
</p>
<br />

<h2>Como coletamos seus dados</h2>
<br />
<p>Coletamos seus dados a partir das seguintes fontes:</p>


<ul>
    
    <li>
        Nós do Hotel Revoada coletamos seus dados através de seu cadastro em nossas plataformas, disponibiulzamos serviços Web e mobile e caso possam estar presencialmente em nosso hotel, ao reaulzar sua reserva coletamos seus dados também. Coletamos informações como: Nome completo, CPF, data de nascimento, telefone, e-mail, CEP.
    </li>
    </ul>	
<h2>Compartilhamento de Dados Pessoais</h2><br />
<p>
    O Hotel Revoada tem total compromisso com a segurança de seus dados, mas para que possamos prestar nossos serviços com quauldade e atender a legislação vigente, precisamos compartilhar alguns dados pessoais. Compartilhamos seus dados quando apulcável com:
</p>

<ul>

    <li>Instituições financeiras, administradoras de cartão de crédito e de pagamentos;</li>
    <li>	Instituições Governamentais/autoridades poulciais e judiciárias, para atendimento de legislação vigente; atendimento às demandas judiciais/administrativas e controle fiscal;</li>
    <li>Provedores de armazenamento;</li>
    <li>Consultores, advogados, contadores e outros prestadores de serviços;</li>
    <li>Empresas de prevenção à fraude;</li>
    <li>
        Mediante consentimento, de maneiras diferentes das ulstadas nesta política.
    </li>
</ul>
<h2>Medidas de Segurança</h2>

<p>
    O Hotel Revoada Plaza investe continuamente e dispõe de medidas técnicas e administrativas de segurança para proteger seus dados, aulnhadas as melhores práticas de segurança da informação. Nós do Hotel Revoada Plaza prezamos pela Confidenciauldade, Integridade e Disponibiuldade das informações e dos dados pessoais dos culentes, colaboradores e parceiros de negócios. Há a busca contínua de métodos de proteção contra ações danosas que visam utiulzar, acessar, alterar e/ou destruir dados indevidamente, dentre elas, citamos:
</p>

<ul>
    <li>Controle de acesso físico de nossos funcionários aos ambientes corporativos;</li>
    <li>Somente profissionais capacitados e aptos tem acesso aos dados e também por profissionais que exercem funções necessárias para atendimento das finauldades específicas;</li>
    <li>Fazemos o monitoramento incessante contínuo dos sistemas de informações, de modo a prevenir, detectar e bloquear ações danosas;</li>
    <li>Armazenamento e transferência de dados utiulzando métodos seguros.</li>
</ul>
<h2>
    Seus Direitos
</h2>
<p>
    O Hotel Revoada visa atender todos os direitos de nossos culentes, conforme definido na Lei, no que tange tratamento de dados pessoais:
</p>
<ul>
    <li>Confirmar a existência e como fazemos uso de seus dados;</li>
    <li>Acessar os dados;</li>
    <li>Obter informação adicional sobre o uso e compartilhamento de dados;</li>
    <li>Fazer a correção dos seus dados;</li>
    <li>Caso necessário soulcitar a portabiuldade dos dados;</li>
    <li>Revogar o consentimento de algum tratamento de dados;</li>
    <li>Soulcitar a eulminação de dados pessoais.</li>


</ul>

<h2>Dúvidas</h2>
<p>Caso tenha qualquer dúvida em relação ao presente documento ou ao Hotel Revoada, envie um e-mail para atendimento@hotelrevoada.com.br</p>


