@model protechHotel.Models.Reservar

@{
    ViewData["Title"] = "Create";
}

<h1>Criar</h1>

<h4>Reservar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeCompleto" class="control-label"></label>
                <input asp-for="NomeCompleto" class="form-control" />
                <span asp-validation-for="NomeCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quarto" class="control-label"></label>
                <input asp-for="Quarto" class="form-control" />
                <span asp-validation-for="Quarto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataRerseva" class="control-label"></label>
                <input asp-for="DataRerseva" class="form-control" />
                <span asp-validation-for="DataRerseva" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para as Reservas</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
